<div class="container-p">
  <div class="main">
		<input type="checkbox" id="chk" aria-hidden="true">

			<div class="signup">
				<form [formGroup]="formSignUp" (ngSubmit)="register()">
					<label for="chk" aria-hidden="true">Registrarse</label>
					<input
            placeholder="C.I."
            autocomplete="off"
            type="number"
            name="userName"
            id="userName"
            formControlName="ci"
          >
					<input autocomplete="off" type="text" formControlName="name" placeholder="Nombres" required>
					<input autocomplete="off" type="text" formControlName="lastname" placeholder="Apellidos" required>
					<input autocomplete="off" type="email" formControlName="email" placeholder="Email" required>
					<input autocomplete="off" type="password" formControlName="pswd" placeholder="Contraseña" required>
					<input autocomplete="off" type="password" formControlName="cpswd" placeholder="Confirmar contraseña" required>
					<button type="submit">Enviar</button>
				</form>
			</div>

			<div class="login">
				<form [formGroup]="formSignIn" (ngSubmit)="signIn()">
					<label for="chk" aria-hidden="true">Inicio sesion</label>
					<input autocomplete="off" type="number" formControlName="ci" placeholder="C.I.">
					<input autocomplete="off" type="password" formControlName="pswd" placeholder="Contraseña">
					<button>Empezar</button>
				</form>
			</div>
	</div>
</div>

<div class="msg-float">
  <div class="square-msg">
    <div class="msg">Enviando datos..</div>
    <img src="assets/img/progress2.gif">
  </div>
</div>